section {
    border: black solid 2px;
    margin-bottom: 15px;
}

span {
    font-weight: bold;
}

#error-para {
    color: rgb(175, 0, 0);
}

#dice-para, ul {
    font-size: 25px;
}

#sun-para {
    font-size: 20px;
}

body {
    background: rgb(85, 125, 205);
}